<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group.six.atm.dao.CardMapper" >
  <resultMap id="BaseResultMap" type="group.six.atm.entity.Card" >
    <id column="cardNumber" property="cardNumber" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cardNumber, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from card
    where cardNumber = #{cardNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from card
    where cardNumber = #{cardNumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="group.six.atm.entity.Card" >
    insert into card (cardNumber, status)
    values (#{cardNumber,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="group.six.atm.entity.Card" >
    insert into card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cardNumber != null" >
        cardNumber,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="group.six.atm.entity.Card" >
    update card
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where cardNumber = #{cardNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="group.six.atm.entity.Card" >
    update card
    set status = #{status,jdbcType=INTEGER}
    where cardNumber = #{cardNumber,jdbcType=VARCHAR}
  </update>
</mapper>