<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.six.atm.dao.UserMapper">
  <resultMap id="BaseResultMap" type="group.six.atm.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthdate" jdbcType="DATE" property="birthdate" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="ID_Card" jdbcType="VARCHAR" property="ID_Card" />
    <result column="cardNumber" jdbcType="VARCHAR" property="cardNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, birthdate, gender, phone, ID_Card, cardNumber
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="group.six.atm.entity.User">
    insert into user (id, name, birthdate, 
      gender, phone, ID_Card, 
      cardNumber)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{birthdate,jdbcType=DATE}, 
      #{gender,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{ID_Card,jdbcType=VARCHAR}, 
      #{cardNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="group.six.atm.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="birthdate != null">
        birthdate,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="ID_Card != null">
        ID_Card,
      </if>
      <if test="cardNumber != null">
        cardNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=DATE},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ID_Card != null">
        #{ID_Card,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        #{cardNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="group.six.atm.entity.User">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null">
        birthdate = #{birthdate,jdbcType=DATE},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ID_Card != null">
        ID_Card = #{ID_Card,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        cardNumber = #{cardNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="group.six.atm.entity.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      birthdate = #{birthdate,jdbcType=DATE},
      gender = #{gender,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      ID_Card = #{ID_Card,jdbcType=VARCHAR},
      cardNumber = #{cardNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="group.six.atm.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthdate" jdbcType="DATE" property="birthdate" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="ID_Card" jdbcType="VARCHAR" property="ID_Card" />
    <result column="cardNumber" jdbcType="VARCHAR" property="cardNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, birthdate, gender, phone, ID_Card, cardNumber
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="group.six.atm.entity.User">
    insert into user (id, name, birthdate, 
      gender, phone, ID_Card, 
      cardNumber)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{birthdate,jdbcType=DATE}, 
      #{gender,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{ID_Card,jdbcType=VARCHAR}, 
      #{cardNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="group.six.atm.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="birthdate != null">
        birthdate,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="ID_Card != null">
        ID_Card,
      </if>
      <if test="cardNumber != null">
        cardNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=DATE},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ID_Card != null">
        #{ID_Card,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        #{cardNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="group.six.atm.entity.User">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null">
        birthdate = #{birthdate,jdbcType=DATE},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ID_Card != null">
        ID_Card = #{ID_Card,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        cardNumber = #{cardNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="group.six.atm.entity.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      birthdate = #{birthdate,jdbcType=DATE},
      gender = #{gender,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      ID_Card = #{ID_Card,jdbcType=VARCHAR},
      cardNumber = #{cardNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="group.six.atm.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthdate" jdbcType="DATE" property="birthdate" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="ID_Card" jdbcType="VARCHAR" property="ID_Card" />
    <result column="cardNumber" jdbcType="VARCHAR" property="cardNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, birthdate, gender, phone, ID_Card, cardNumber
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="group.six.atm.entity.User">
    insert into user (id, name, birthdate, 
      gender, phone, ID_Card, 
      cardNumber)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{birthdate,jdbcType=DATE}, 
      #{gender,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{ID_Card,jdbcType=VARCHAR}, 
      #{cardNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="group.six.atm.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="birthdate != null">
        birthdate,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="ID_Card != null">
        ID_Card,
      </if>
      <if test="cardNumber != null">
        cardNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=DATE},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ID_Card != null">
        #{ID_Card,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        #{cardNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="group.six.atm.entity.User">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null">
        birthdate = #{birthdate,jdbcType=DATE},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ID_Card != null">
        ID_Card = #{ID_Card,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        cardNumber = #{cardNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="group.six.atm.entity.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      birthdate = #{birthdate,jdbcType=DATE},
      gender = #{gender,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      ID_Card = #{ID_Card,jdbcType=VARCHAR},
      cardNumber = #{cardNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>