<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>龙叶银行ATM系统</title>
	<link href="./css/index.css" rel="stylesheet">
</head>

  <body>
	<div id="vue-app">
		
		<div v-show="showPage==0">
			<input type="number" v-model="cardNumber" />
			<input type="passwd" v-model="passwd" />
			<button @click="sign_in">登录</button>
		</div>
		
	</div>
	
  	<script src="./js/jquery-3.3.1.js"></script>
    <script src="./js/commons/common.js"></script>
  	<script src="./js/vue.js"></script>
  	<script src="./js/index.js"></script>
  </body>
</html>
